/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600;700;800&display=swap');

* {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Work Sans', sans-serif;
}

.pink-clr {
    color: #FF42A5;
}

.headbang {

    margin: 0px 0px;
    padding: 0px 80px;

}

/* nav section */

.nav-title-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
}

.nav-items>ul {
    display: flex;
}

.nav-items li {
    margin-right: 20px;
    list-style: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    padding: 30px 0px;
    width: 100%;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

/* banner section starts */
.banner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.banner-description {
    color: #534C64;

    font-size: 20px;

    font-weight: 500;
    margin-bottom: 15px;
}

.btn-pink {
    background-color: #FF42A5;
    padding: 20px 40px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.btn-blue {
    background-color: #4EC5F7;
    padding: 20px 40px;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-left: 20px;
}

/* .banner-img{
    border: 1px solid blue;
    width: 700px;
    height: 200px;
} */

/* online image part */
.online-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
}

.funny {
    color: #8758F1;
    font-size: 48px;
    font-weight: 700;
}

.online-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.img-description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.online-content {
    text-align: center;
    margin-bottom: 70px;
}

.online-img-container {
    display: flex;
    justify-content: space-around;
    gap: -5px;
}

.online-container {
    margin-bottom: 100px;
}

/* online game section finished */

/* play instantly part */
.play-instanly-container {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

.play-instantly-content {
    border: 1px solid green;
    width: 400px;
    text-align: right;
}

.play-instatnly-images {
    border: 1px solid blue;
}

.play-instantly-title {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
}


/* catagories section */

.catagories {

    width: 100%;
    height: 300px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 150px 0px 0px;

}

.catagory {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

.catagory:hover {
    border: 2px solid #FF42A5;
    font-size: 20px;
    font-weight: 600;
    color: #FF42A5;

}

.catagory-container {
    display: flex;

    justify-content: space-evenly;

}

.catagory-container-4 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.catagory-container img {
    margin-right: 5px;
}

/* footer section */
.my-foot {
    background-color: #0B0223;
    color: white;
    padding: 0px 0px;
}

.footer-container {

    max-width: 800px;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.our-story {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.terms {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
    gap: 30px;
}

.terms,
.play {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}